<div id="section7" class="d-flex align-items-center cover"
    style="background-image: url(../../assets/Dahlia+FarisEngagementParty_1428.jpg);">
    <div class="table-container">
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Total Guests Invited</th>
                    <th scope="col">Total Guests RSVP "Yes"</th>
                    <th scope="col">Total Guests RSVP "No"</th>
                    <th scope="col">Total Guests RSVP "Maybe"</th>
                    <th scope="col">Total # of Rooms</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-primary">
                    <td>{{invited}}</td>
                    <td>{{attending}}</td>
                    <td>{{notAttending}}</td>
                    <td>{{maybeAttending}}</td>
                    <td>{{rooms}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Attending</th>
                    <th scope="col">No. of Guests</th>
                    <th scope="col">No. of rooms</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let guest of guestsService.guests">
                    <tr class="table-primary">
                        <td>{{guest.FirstName}}</td>
                        <td>{{guest.LastName}}</td>
                        <td>{{guest.Email}}</td>
                        <td>{{guest.isAttending}}</td>
                        <td>{{guest.Qty}}</td>
                        <td>{{guest.rooms}}</td>
                        <td>
                            <button type="button" (click)="deleteGuest(guest._id)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>