<div id="section7" class="d-flex align-items-center cover"
    style="background-image: url(../../assets/DahliaFarisEngagementParty_0256.jpg);">
    <div class="table-container">
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Total Guests Invited</th>
                    <th scope="col">Total Guests RSVP "Yes"</th>
                    <th scope="col">Total Guests RSVP "No"</th>
                    <th scope="col">Total Guests RSVP "Maybe"</th>
                    <th scope="col">Total # of Rooms</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-primary">
                    <td>{{invited}}</td>
                    <td>{{attending}}</td>
                    <td>{{notAttending}}</td>
                    <td>{{maybeAttending}}</td>
                    <td>{{rooms}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Attending</th>
                    <th scope="col">No. of Guests</th>
                    <th scope="col">No. of rooms</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let guest of guestsService.guests">
                    <tr class="table-primary">
                        <td attr.id="firstname_{{guest._id}}">{{guest.FirstName}}</td>
                        <td attr.id="lastname_{{guest._id}}">{{guest.LastName}}</td>
                        <td attr.id="email_{{guest._id}}">{{guest.Email}}</td>
                        <td attr.id="attending_{{guest._id}}">{{guest.isAttending}}</td>
                        <td attr.id="qty_{{guest._id}}">{{guest.Qty}}</td>
                        <td attr.id="rooms_{{guest._id}}">{{guest.rooms}}</td>
                        <td>
                            <button type="button" (click)="deleteGuest(guest._id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                </svg>
                            </button>
                        </td>
                        <td>
                            <button (click)="openModal($event, guest._id)" type="button" data-toggle="modal" data-whatever="guest"
                                data-target="#editModal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form> -->
                <form class="form tabcontent" role="form" id="newRSVP"
                    style="display: block;">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="FirstName" [(ngModel)]="FirstName" class="form-control" name="FirstName"
                                id="inputFirstName" placeholder="First Name" ng-required="true">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="LastName" [(ngModel)]="LastName" class="form-control" name="LastName"
                                id="inputLastName" placeholder="Last Name" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="Email" [(ngModel)]="Email" class="form-control" name="Email" id="inputEmail"
                            placeholder="Email" ng-required="true">
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="Qty" class="form-control" type="number" id="inputQty" name="Qty" min="1"
                            max="10" placeholder="Number of Guests" ng-required="true">
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="rooms" class="form-control" type="number" id="inputrooms" name="rooms"
                            min="0" max="10" placeholder="Number of Rooms @ Westin" ng-required="true">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input [(ngModel)]="isAttending" class="form-check-input" type="radio"
                                        name="gridRadios" id="checkAttending" value="Attending">
                                    Attending
                                </div>
                                <div class="form-check">
                                    <input [(ngModel)]="isAttending" class="form-check-input" type="radio"
                                        name="gridRadios" id="checkNotAttending" value="Not Attending">
                                    NOT Attending
                                </div>
                                <div class="form-check disabled">
                                    <input [(ngModel)]="isAttending" class="form-check-input" type="radio"
                                        name="gridRadios" id="checkMaybe" value="Maybe">
                                    Maybe
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="submitEdit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>