<div class="fixed-top navbar-scroll" id="headerNav">
    <div class="topnav" id="myTopnav">
        <a href="home#section1" class="navbar-brand">F&D</a>
        <a href="home#section2" class="link section">RSVP</a>
        <a href="home#section3" class="link section">When & Where</a>
        <a href="home#section4" class="link section">Section 4</a>
        <a href="home#section5" class="link section">Section 5</a>
        <a *ngIf="authService.loggedIn()" routerLink="/login" class="link section">Login</a>
        <a *ngIf="!authService.loggedIn()" routerLink="/guests" class="link section">Guest List</a>
        <a href="javascript:void(0);" class="link icon" (click)="navCollapse()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>
