#headerNav {
    border-bottom: thin solid rgba(255, 255, 255, 0.25);
    z-index: 9999;
    /* height: 7%; */
}

button {
    right: 1%;
}

.navbar-brand {
    font-family: "Parisienne", serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
}


.topnav {
    /* overflow: hidden; */
    background-color: transparent;
}

a, i {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 17px;
}

.scrolled {
    background-color: rgba(249, 249, 250, 1) !important;
    transition: background-color 200ms linear;
}

.scrolled .navbar-brand, .scrolled i, .scrolled a{
    color: rgba(6, 18, 75, 1) !important;;
}

.scrolled .link, .scrolled .navbar-brand {
    color:rgb(208, 219, 226);
} 

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    #headerNav {
        color: white;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
    }
    
    .topnav.responsive .section {
        border-bottom: thin solid rgba(255, 255, 255, 0.25);
        text-align: left;
    }
}
