<header class="navbar pcoded-header navbar-expand-lg fixed-top navbar-scroll" id="headerNav" role="navigation">
    <!-- <div class="navbar-header m-header"> -->
        <a href="#home" class="navbar-brand">F&D</a>
        <button class="navbar-toggler link icon" type="button" data-toggle="collapse" data-target="#myTopnav"
            aria-controls="myTopnav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
    <!-- </div> -->

    <div class="navbar-collapse collapse topnav" id="myTopnav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item link section">
                <a href="#section3">When & Where</a>
            </li>
            <li class="nav-item link section">
                <a href="#section2">RSVP</a>
            </li>
            <!-- <li class="nav-item link section">
                <a href="home#section4">Our Story</a>
            </li> -->
            <li class="nav-item link section">
                <a href="#section5">Registry</a>
            </li>
            <li class="nav-item link section">
                <a href="#section8">Egypt Travel Guide</a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li *ngIf="authService.loggedIn()" class="nav-item link section">
                <a routerLink="/login">Login</a>
            </li>
            <li *ngIf="!authService.loggedIn()" class="nav-item link section">
                <a routerLink="/guests">Guest List</a>
            </li>
            <li *ngIf="!authService.loggedIn()" class="nav-item link section">
                <a (click)="onLogoutClick()">Logout</a>
            </li>
        </ul>
    </div>
</header>