<nav class="fixed-top navbar-scroll" id="headerNav">
    <div class="topnav" id="myTopnav">
        <a href="#scrollspyHeading1" class="navbar-brand">F&D</a>
        <a href="#scrollspyHeading2" class="link section">When & Where</a>
        <a href="#scrollspyHeading3" class="link section">RSVP</a>
        <a href="#scrollspyHeading4" class="link section">Section 4</a>
        <a href="#scrollspyHeading5" class="link section">Section 5</a>
        <a href="javascript:void(0);" class="link icon" (click)="navCollapse()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</nav>
