<div id="section3" class="d-flex align-items-center cover">
    <div id="info" class="info">
        <h2 class="datetime text">July 23rd, 2022 @ 6:00 PM</h2>
        <h3 class="address1 text">The Westin Cairo Golf Resort & Spa, Katameya Dunes</h3>
        <h4 class="address2 text">Road 90, New Cairo City, Katameya Dunes, Cairo, Egypt</h4>
        <div class="d-grid gap-2 col-11 mx-auto">
            <input class="btn btn-outline-primary" type=button onClick="location.href=`http://www.google.com/calendar/event?action=TEMPLATE&dates=20220723T160000Z%2F20220723T220000Z&text=Faris%20%26%20Dahlia's%20Wedding&location=Road%2090%20New%20Cairo%20City%2C%20Katameya%20Dunes%D8%8C%20Cairo%20Governorate%2011835%2C%20Egypt&details=`" value='Add to Calendar'>
        </div>
    </div>
    <div id="countdown" class="countdown">
        <ul>
            <li class="clockContainer"><span class="clock" id="days"></span>Days</li>
            <li class="clockContainer"><span class="clock" id="hours"></span>Hours</li>
            <li class="clockContainer"><span class="clock" id="minutes"></span>Minutes</li>
            <li class="clockContainer"><span class="clock" id="seconds"></span>Seconds</li>
        </ul>
    </div>
    <div class="imgContainer">
        <img src="../../assets/navy-bouquet.jpg" alt="" id="flowerNavy">
    </div>
</div>
