.cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#carouselExampleIndicators {
    position: relative;
    height: 100vh;
    background-color: lightgray;
    -webkit-transform: translate3d(0,0,1px); 
    -webkit-backface-visibility: hidden;
}

.carousel-item {
    margin: auto;
    top: 50%;
}

