<div id="section5" class="d-flex align-items-center cover"
    style="background-image: url(../../../../assets/DahliaFarisEngagementParty_0755.jpg);">
    <h1>Our Wedding Registry</h1>
    <a type="button" class="zola-registry-embed btn btn-primary btn-lg btn-block" href="https://www.zola.com/registry/farisanddahlia" data-registry-key="farisanddahlia">Wedding Registry on Zola</a><script>!function(e,t,n){var s,a=e.getElementsByTagName(t)[0];e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))}(document,"script","zola-wjs");</script>
</div>