.cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
    
#section5 {
    position: relative;
    height: 100vh;
    background-color: lightgray;
    -webkit-transform: translate3d(0,0,1px); 
    -webkit-backface-visibility: hidden;
}