.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  
.owl-slide {
  position: relative;
  height: 100vh;
  background-color: lightgray;
  -webkit-transform: translate3d(0,0,1px); 
  -webkit-backface-visibility: hidden;
}

#section1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#section1 h2 {
  /* white-space: nowrap; */
  color: whitesmoke;
  font-family: "Parisienne", serif;
  font-size: 300%;
  font-weight: bold;
}

#section1 h1 {
  /* white-space: nowrap; */
  color: whitesmoke;
  font-family: "Parisienne", serif;
  font-size: 600%;
  font-weight: bold;
}

#section1 span {
  font-size: 100px; 
  color: whitesmoke;
  position: absolute;
  bottom: 25%;
}

#section1 span:hover {
  font-size: 110px; 
  color: whitesmoke;
  position: absolute;
  bottom: 25%;
}

#section1 a {
  display: flex;
  justify-content: center;
}

