#section2{
  position: relative;
  height: 100vh;
  background-color: lightgray;
  -webkit-transform: translate3d(0, 0, 1px);
  -webkit-backface-visibility: hidden;
}

h1{
  top: 10%;
  color: black;
  font-family: "Parisienne", serif;
  font-size: 300%;
  font-weight: bold;
  text-align: center; 
  position: fixed;
  margin: auto;
  padding: 10px;
  right: 10%;
  left: 10%;
  width: 70%;
  border-radius: 0px;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

form {
  margin: auto;
  padding: 10px;
  background-color: aliceblue;
  width: 70%;
}

#success-banner, #error-banner, #regex-error-banner {
  position: fixed;
  margin: auto;
  padding: 10px;
  top: 24%;
  right: 10%;
  left: 10%;
  width: 70%;
  border-radius: 0px;
}

@media screen and (max-width: 600px) {
  form {
    margin: auto;
    padding: 10px;
    width: 100%;
    position: absolute;
  }

  #success-banner, #error-banner, #regex-error-banner {
    position: fixed;
    margin: auto;
    padding: 10px;
    font-size: 70%;
    top: 45%;
    right: 10%;
    left: 10%;
    width: 70%;
    border-radius: 0px;
  }
}

button {
  display: block;
  margin: 0 auto;
  width: 100%;
}

select:invalid { 
  color: gray; 
}


.form-group {
  margin: auto;
  padding: 10px;
}
